@mixin screen($size) {
    $desktop: "(min-width: 1024px)";
    $tablet: "(min-width: 768px) and (max-width: 1023px)";
    $mobile: "(max-width: 767px)";
    @if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    }
    @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    }
    @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    }
    @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  }
  .resources-scn{
    padding: 2em 0;
    @include screen('mobile'){
     padding: 1.5em 0;           
    }
    h1{
        font-size: 36px;
        font-weight: 700;
        color: #003177;
        margin-bottom: 0;
        @include screen('tablet'){
                font-size: 32px;
        }
        @include screen('mobile'){
                font-size: 24px;
        }
    }
    .btns-gd{
        display: grid;
        gap: 1.5em;
        margin-top: 2em;
        @include screen('mobile'){
            margin-top: 1.5em;
        }
        a{
            box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px;
            border-radius: 5px;
            padding: 8px 40px;
            font-weight: 600;
            color: #333;
            cursor: pointer;
            @include screen('tablet'){
               width: 75%;
               margin: auto; 
            }
        }
    }
    .img-col{
        display: flex;
        align-items: center;
        img{
            display: block;
            margin: auto;
            width: 80%;
            @include screen('tablet'){
                width: 75%;
                margin-top: 2em;
            }
            @include screen('mobile'){
                display: none;
            }
        }
    }
  }





  .modal-header{
    .modal-title{
      color: #003177;
    }
  }
    .modal-body{
      
      .form-label{
          color: #212529;
          font-weight: 400;
          span{
              color: red;
          }
          }
  }
  .modal-footer{
      button{
          border: none;
          border-radius: 5px;
          padding: 6px 30px;
          background: #d2d2d2;
          color: #fff;
      }
      .valid{
          background: #2da77d;
      }
  }