<app-navbar></app-navbar>
<section class="breadcrumbs-sec">
  <div class="container breadcrumbs">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <a href="/refund-policy">Refund Policy</a>
      </li>

    </ul>
  </div>
</section>
<section class="background">
  <div class="container">

    <div class="card">
      <h1 class="text-center">Refund</h1>
      <p style="text-align: justify;">
        <strong>1.</strong> If the payment through the third-party gateway has failed, but the amount has
        been debited from your bank account, the amount so deducted shall be
        automatically credited to the said bank account within a period of 14 days, subject to
        reconciliation, as per the terms of the third-party payment gateway.
      </p>
      <p style="text-align: justify;">
        <strong>2.</strong> No refund shall be made for any successful transaction through the Payment
        Gateway services except as set out hereunder.
      </p>

      <p style="text-align: justify;">
        <strong>3.</strong> When a user discontinues subscription to any course, for any reason
        whatsoever, User shall not be entitled to any refund of any payment(s) made
        (including towards the study materials, e-books, add-on courses, etc.).<br>
        Further, having regard to the fact that the subscription by the User has effectively
        deprived Veranda of the ability to allot that seat / slot to another prospective User, it
        is mutually agreed that unless a User discontinues the subscription within:- (a)
        conclusion of 5 classes / sessions forming part of a Course, or (b) two (2) weeks
        from commencement of the Course, whichever is earlier, User shall not be entitled to
        refund of the Course Fee. Provided that where a User discontinues the subscription
        within the aforesaid period, the user shall be entitled to a refund of 80% of the
        Course Fee.
      </p>
      <p style="text-align: justify;">
        <strong>4.</strong> Notwithstanding anything to the contrary elsewhere, Veranda shall have no
        responsibility or liability for any issues pertaining to the outsourced third-party
        payment gateway. For any such issues pertaining to the third-party payment
        gateway (including multiple debits, whether successful or not etc.), you may follow
        up with the third-party gateway or the user’s bank/financial institution concerned.
      </p>
      <p style="text-align: justify;">
        <strong>5.</strong> No other refunds shall be made other than mentioned above in this clause. Any
        refund to be made in accordance with terms above shall also be subject to and
        conditional upon the user being compliant with all other Terms of Service.
      </p>



    </div>

  </div>
  <br>
</section>

<app-footer></app-footer>
