<ng-http-loader></ng-http-loader>
<section class="payment-success-scn" *ngIf="paymentStatus">
    <div class="container">
        <div class="payment-success-cd">
            <img *ngIf="paymentStatus=='success'" class="status-icon" src="./assets/payment/Success_Icon.png" alt="">
            <img *ngIf="!(paymentStatus=='success')" class="status-icon" src="./assets/payment/Failed_Icon.png" alt="">
            <h4>{{paymentStatus=='success' ? 'Payment Success !':'Payment Failed !'}}</h4>
            <hr>
            <ul *ngIf="paymentStatus=='success'">
                <li><span>Product Name</span>{{paymentDetails.product}}</li>
                <li><span>Order id</span>{{paymentDetails.orderId}}</li>
                <li><span>Transcation id</span>{{paymentDetails.txnId}}</li>
                <li><span>Amount</span>{{paymentDetails.amount}}</li>
            </ul>
            <p *ngIf="!(paymentStatus=='success')">Your transcation has failed. Please go back and try again</p>
            <hr>
            <a routerLink="/">Back To Home</a>
        </div>
    </div>
</section>
  