<section class="footer-scn">
    <div class="container">
        <h2>Follow Us On</h2>
        <div class="social-flex">
            <a href="https://www.facebook.com/verandaias?mibextid=ZbWKwL" target="_blank"><img src="./assets/Homepage/Facebook.png"></a>
            <a href="https://youtube.com/@VerandaIAS?si=clzVS82Mjp3nldDN" target="_blank"><img src="./assets/Homepage/YouTube.png"></a>
            <a href="https://instagram.com/verandaias?igshid=MzRlODBiNWFlZA==" target="_blank"><img src="./assets/Homepage/Instagram.png"></a>
            <a href="https://twitter.com/VerandaIAS?t=_I_QLyr_JM5boM1Kibsfww&s=09" target="_blank"><img src="./assets/Homepage/Twitter.png"></a>
            <a href="https://www.linkedin.com/company/veranda-ias/" target="_blank"><img src="./assets/Homepage/Linkedin.png"></a>
        </div>
        <hr>
        <p>© Veranda IAS Learning Solutions Private Limited </p>
      </div>
</section>