<app-navbar></app-navbar>
<section class="form-scn">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h4>About Veranda IAS</h4>
          <h2>Crafting India's future leaders! One UPSC aspirant at a time!</h2>
          <p>Veranda IAS offers India's first holistic residential programme for students preparing for the UPSC Civil Services Examination. Our state-of-the-art facilities, comfortable accommodation, healthy meals and round-the-clock faculty support ensure a distraction-free verdant environment for students to immerse themselves in their studies. Our programme also includes extracurricular activities to promote wellness and community-building. Join us at Veranda IAS and achieve your goal of cracking the UPSC Civil Services Examination.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 img-col">
<img src="./assets/about-us/parliment.jpeg" alt="">
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>