<app-navbar></app-navbar>
<section class="hero-scn">
<div class="container">
    <div class="breadcrumbs"><a routerLink="/">Home</a> > <a routerLink="/courses">Courses</a> > UPSC CSE 2025 - Live Online Classes</div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1>Live Online Classes for UPSC CSE 2025</h1>
            <h4>NOW GET UPSC COACHING 
              ANYWHERE, ANYTIME, AND MAKE YOUR BUREAUCRAT DREAM A REALITY.</h4>
                <p>The Aspirants and students can now study UPSC anywhere and anytime through our Veranda IAS’ Live Online Classes, with the help and support of </p>
                <ul>
                    <li>Learnings from the Expert and Star faculties</li>
                    <li>Mentorship Support</li>
                    <li>Comprehensive Coverage of UPSC Syllabus Prelims-cum-Mains</li>
                    <li>Regular Prelims & Mains Test series</li>
                </ul>
                <p>Learn from India’s best IAS exam experts and embark on a successful UPSC journey, with Veranda IAS Online Live Classes.</p>
                <div class="btns-flx">
                    <a class="btn" (click)="scroll(target)">Apply Now</a>
                    <a href="./assets/Coursepage/documents/UPSC Syllabus - Veranda IAS.pdf" class="btn" download>Download Syllabus</a>
                    </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 vdo-clmn">
            <iframe src="https://www.youtube.com/embed/mWefCEPSq14?si=092piFvbEmmO8wGV" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>
<section class="batch-cd-scn">
    <div class="container">
        <div class="btch-cd">
            <div>
                <span>Next Batch Starts </span>
                Aug 2024
            </div>
            <div>
                <span>Course Validity </span>
                10 Months
            </div>
            <div>
                <span>Mode of Learning </span>
                Online

            </div>            
        </div>
    </div>
</section>
<section class="key-ftrs-scn">
    <div class="container">
        <h2>Key Features</h2>
        <div class="key-ftrs-gd">
            <div *ngFor="let data of keyFeatures"><img src="./assets/Coursepage/check-icon.png" alt="">{{data}}</div>
        </div>
    </div>
</section>
<section class="form-scn">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h4>About Veranda IAS</h4>
        <h2>Crafting India's future leaders! One UPSC aspirant at a time!</h2>
        <p>Veranda IAS offers India's first holistic residential programme for students preparing for the UPSC Civil Services Examination. Our state-of-the-art facilities, comfortable accommodation, healthy meals and round-the-clock faculty support ensure a distraction-free verdant environment for students to immerse themselves in their studies. Our programme also includes extracurricular activities to promote wellness and community-building. Join us at Veranda IAS and achieve your goal of cracking the UPSC Civil Services Examination.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" #target>
        <form #courseForm="ngForm">
        <div class="form-cd">
          <h3>Register to get Course details</h3>
            <div class="inpts-gd">
              <div>
                <label class="form-label">Full Name </label>
                <input type="text" class="form-control" placeholder="Enter your full name" name="student_Name" ngModel required>
              </div>
              <div>
                <label class="form-label"> Mobile Number </label>
                <input type="tel" class="form-control" placeholder="Enter your mobile number" name="phone_Number" maxlength="10" minlength="10" (keypress)="keyPress($event)" ngModel required>
              </div>
              <div>
                <label class="form-label">Email ID </label>
                <input type="tel" class="form-control" placeholder="Enter your E-mail" name="email_ID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel required>
              </div>
              <div>
                <label class="form-label">State <span>*</span></label>
                <select class="form-select" (ngModelChange)="onStateChange($event)" name="state" ngModel required>
                    <option value="" hidden>-- select state / union Territory --</option>
                    <option (click)="onStateChange(statename)" *ngFor="let statename of states" [value]="statename">{{ statename }}</option>
                </select>
            </div>
            <div>
              <label class="form-label">District <span>*</span></label>
                <select class="form-select" name="district" ngModel required>
                    <option value="" hidden>-- select District --</option>
                    <option *ngFor="let districtname of districtList" [value]="districtname">{{ districtname }}</option>
                   </select>
            </div>
            </div>
            <button *ngIf="!submitClicked" [disabled]="courseForm.invalid" [ngClass]="courseForm.valid ? 'valid':''" (click)="onSubmit(courseForm)">Register Now</button>
            <button *ngIf="submitClicked" class="valid">Please Wait</button>
              <div class="terms-cons">By continuing & signing in, you agree to Veranda's <a routerLink="/termsofservice">Terms & Conditions</a> and <a routerLink="/privacy-policy">Privacy Policy</a></div>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
<app-upsc-opputunities></app-upsc-opputunities>
<section class="faq-scn">
    <div class="container">
        <h2>Frequently Asked Questions</h2>
<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
    <div class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'collapse' + i" [attr.aria-expanded]="i === 0">
        <h4>{{ faq.question }}</h4>
      </button>
    </div>
    <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ 'show': i === 0 }" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!-- <img [src]="faq.imageUrl" alt=""> -->
        {{ faq.answer }}
      </div>
    </div>
  </div>
</div>
    </div>
</section>
<app-footer></app-footer>