<section class="footer-scn">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5 col-sm-12 fst-col">
        <img class="ftr-lg" src="./assets/Homepage/ias-grey-logo.png" alt=""><br>
        <span>Where your dreams become a reality</span>
        <p>Veranda IAS, with over 12+ years of educational excellence in competitive exam coaching, has helped our
          students towards their dreams and ambition of becoming bureaucrats by providing excellent coaching for UPSC
          Exam.</p>
      </div>
      <div class="col-lg-2 col-md-3 col-6 scnd-col">
        <h6>Who We Are </h6>
        <div><a href="/about-us">About Us</a>
          <a href="">Leadership</a>
          <a href="">Awards & Recognition</a>
        </div>
        <h6>Media</h6>
        <div><a href="">Veranda IAS Blog</a></div>
      </div>
      <div class="col-lg-3 col-md-4 col-5 thrd-col">
        <h6>Courses</h6>
        <div><a routerLink="/upsc-online">UPSC CSE 2025</a>
          <a routerLink="/upsc-residential">Residential Courses</a>
          <a routerLink="/product-ilp">Integrated Online Programme</a>
        </div>
        <h6>Reach Us</h6>
        <div><a href="">Help & Support</a></div>
      </div>
      <div
        *ngIf="(currentUrl!=='/weekend-evening-lp')&&(currentUrl!=='/online-ips-coaching')&&(currentUrl!=='/online-ias-coaching')"
        class="col-lg-4 col-md-12 col-7 frth-col">
        <h6>External Links</h6>
        <div><a href="https://upsc.gov.in/">Union Public Service Commission (UPSC)</a>
          <a href="https://pib.gov.in/indexd.aspx">Press Information Bureau (PIB)</a>
          <a href="https://www.lbsnaa.gov.in/">Lal Bahadur Shastri National Academy of Administration</a>
          <a href="https://www.svpnpa.gov.in/">Sardar Vallabhbhai Patel National Police Academy </a>
          <a href="https://nadt.gov.in/ViewContent.aspx?700">National Academy of Direct Taxes </a>
          <a href="https://ssifs.mea.gov.in/">Sushma Swaraj Institute of Foreign Service </a>
          <a href="https://www.ignfa.gov.in/">Indira Gandhi National Forest Academy </a>
        </div>
      </div>
      <div *ngIf="currentUrl==='/weekend-evening-lp'" class="col-lg-4 col-md-12 col-7 frth-col">
        <h6>We Provide</h6>
        <div><a>UPSC CSE</a>
          <a>UPSC CSAT</a>
          <a>CSAT Classes</a>
          <a>UPSC Prelims 2025</a>
          <a>UPSC Preparation for 2025</a>
          <a>UPSC Strategy for 2025</a>
          <a>Test Series for UPSC</a>
          <a>UPSC Mock Test</a>
          <a>UPSC Prelims Study Materials</a>
          <a>UPSC Prelims Strategy</a>
        </div>
      </div>
      <div *ngIf="currentUrl==='/online-ips-coaching'" class="col-lg-4 col-md-12 col-7 frth-col">
        <h6>We are also known for </h6>
        <div><a>IPS Coaching Centre</a>
          <a>IPS Coaching Institute</a>
          <a>IPS Coaching Academy</a>
          <a>CSAT Classes</a>
          <a>UPSC Mock Test</a>
          <a>UPSC Prelims Study Materials</a>
          <a>UPSC Prelims Strategy</a>
        </div>
      </div>
      <div *ngIf="currentUrl==='/online-ias-coaching'" class="col-lg-4 col-md-12 col-7 frth-col">
        <h6>We are also known for </h6>
        <div><a>Best IAS Coaching Academy</a>
          <a>Best Weekend Batch IAS Coaching</a>
          <a>Online IAS Coaching Academy</a>
          <a>Best IAS Coaching Institute</a>
          <a>Best Evening Batch IAS Coaching</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row cntct-dtls">
      <div class="col-lg-4 col-md-5 col-12 flx-dtls">
        <img src="./assets/Homepage/location-icon.png" alt="">
        <div>
          <h6>Admission Office</h6>
          <a>Fifth Floor, GR Complex,
            810, Anna Salai,
            Nandanam,
            Chennai, Tamil Nadu - 600 035.</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 flx-dtls">
        <img src="./assets/Homepage/location-icon.png" alt="">
        <div>
          <h6>Study Circle</h6>
          <a>Second Floor, Second Ave, Opp. to City Tower Hospital, W Block, Anna Nagar, Chennai - 600040.</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-12 flx-dtls">
        <img src="./assets/Homepage/phone-icon.png" alt="">
        <div>
          <h6>Help & Support</h6>
          <a href="tel:8925521735">+91 89255 21735</a>
          <a href="mailto:academics@verandaias.com">academics&#64;verandaias.com</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="cprgts-flx">
      <div>Copyrights 2024 © Veranda IAS Learning Solutions Pvt. Ltd.</div>
      <div>
        <!-- <a href="">User Policy</a> | -->
        <a routerLink="/termsofservice">Terms & Conditions</a> | <a routerLink="/privacy-policy">Privacy Policy</a>
      </div>
      <div class="scl-icons">
        <a href="https://www.facebook.com/verandaias?mibextid=ZbWKwL"><img src="./assets/Homepage/Facebook.png"
            alt=""></a>
        <a href="https://instagram.com/verandaias?igshid=MzRlODBiNWFlZA=="><img src="./assets/Homepage/Instagram.png"
            alt=""></a>
        <a href="https://www.linkedin.com/company/veranda-ias/"><img src="./assets/Homepage/Linkedin.png" alt=""></a>
        <a href=" https://youtube.com/@VerandaIAS?si=clzVS82Mjp3nldDN"><img src="./assets/Homepage/YouTube.png"
            alt=""></a>
        <a href="https://twitter.com/VerandaIAS?t=_I_QLyr_JM5boM1Kibsfww&s=09"><img src="./assets/Homepage/Twitter.png"
            alt=""></a>
      </div>

    </div>
  </div>
</section>
