@mixin screen($size) {
    $desktop: "(min-width: 1024px)";
    $tablet: "(min-width: 768px) and (max-width: 1023px)";
    $mobile: "(max-width: 767px)";
    @if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    } @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    } @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    } @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  } 
.form-scn{
    padding: .5em 0;
    select{
        padding: 5px;
        border: solid 1.5px #000000;
    }
    .dwld-hdr{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1.5px #000000;
      padding-bottom: 1em;
      h2{
        font-size: 20px;
        font-weight: 600;        
        margin-bottom: 0;
    }
    .action-btns{
      display: flex;
      gap: 1em;
      button{
        background: #003177;
        color: #fff;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        padding: 8px 20px;
      }
    }
    }
    .frm-flds-area{
        .frm-flds{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2em 3em;
            margin: 2em 0;
            @include screen('mobile'){
                grid-template-columns: repeat(1,1fr);
                gap: 1.5em;
    margin: 1em 0;
            }
            .lbl-fld-flx{
                display: flex;
                align-items: center;
                label{
                    width: 30%;
                    font-weight: 500;
                }
                input,select{
                    width: 70%;
                }
            }
        } 
    }
}

.Submit-btn{
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
button{
    background: #526073;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
}
.valid{
    background: #003177;
}
}

.error{
    color:red;
}
