@mixin screen($size) {
    $desktop: "(min-width: 1024px)";
    $tablet: "(min-width: 768px) and (max-width: 1023px)";
    $mobile: "(max-width: 767px)";
    @if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    } @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    } @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    } @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  }
  .card-scn{
    padding: 4em 0 0 0;
    @include screen('tablet'){
    padding: 3em 0 0 0;
    }
@include screen('mobile'){
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}
    .form-card{
        margin:auto;
        max-width: max-content;
        text-align: center;
        padding: 2em;
        background-color: #F5F5F5;
        border: 5px solid #003177;
        border-radius: 25px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        h1{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 1.5em;
            color: #003177;
            @include screen('mobile'){
    font-size: 17px;
            }
          }
          img{
            margin-bottom: 1.5em;
          }
          .form-control{
            padding: 8px 16px;
          }
          .form-control:focus{
            box-shadow: none;
          }
          button{
            border: none;
            border-radius: 10px;
            background: #747474;
            color: #fff;
            padding: 8px 40px;
            margin-top: 1.5em;
            box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.16);
          }
          .valid{
            background: #003177;
          }
      }
  }